/.bundle

/vendor/*
!/vendor/.keep
!/vendor/basecoat/
!/vendor/basecoat/**
!/vendor/javascript/
!/vendor/javascript/**
!/vendor/stylesheets/
!/vendor/stylesheets/**

/.env*

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/public/assets
/app/assets/builds/*
!/app/assets/builds/.keep

/config/*.key

/coverage
/.rspec_status
